<a href="https://colab.research.google.com/github/madhavs06/Coursera_Capstone/blob/master/Latitudes_%26_longitudes_of_neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Getting lattitude and longitude values for each neighborhood**

In [0]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

Using geospatial data csv file to fetch the geographical coordinates

In [0]:
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')

In [0]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merging geographical coordinates with postalcode data

In [0]:
geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged = pd.merge(geo_df, df_postalcode, on='Postalcode')
geo_merged.head()

  Postalcode   Latitude  ...      Borough                            Neighborhood
0        M1B  43.806686  ...  Scarborough                          Malvern, Rouge
1        M1C  43.784535  ...  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  43.763573  ...  Scarborough       Guildwood, Morningside, West Hill
3        M1G  43.770992  ...  Scarborough                                  Woburn
4        M1H  43.773136  ...  Scarborough                               Cedarbrae

[5 rows x 5 columns]

**Dataframe with postalcode, neighborhood and geographical coordinates data**

In [0]:
geo_data=geo_merged[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]
geo_data.head()

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]